.reqest-title-all{
  text-align: center;
  margin: 20px 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.request-title{
  font-size: 30px;
  color: #444444;
 
}
.request-subtitle {
  text-decoration: none;
  color: #bbbbbb;
}

.request-img {
  width: 33vh;
  height: 33vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 10px -5px rgba(110, 110, 110, 0.5);
}
.request-img:hover{
  opacity: 0.9;
}
.retouch-lists{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  height: 33vh;
}
.request-info{
  /* background-color: rgb(241, 241, 241); */
  width: 250px;
  padding: 0 0 0 10px;
}
.request-name {
  font-size: 18px;
  padding: 0 0 3px 3px;
  border-bottom: solid 2px rgb(191, 221, 255);
}
.index_fix_title{
  white-space: normal;
  overflow: scroll;
  font-size: 16px;
}
.index_fix_title a {
  text-decoration: none;
  color: black;
}
.index_fix_title_name{
  font-size: 18px;
  font-weight: bold;
}

.request-genre {
  text-decoration: none;
  font-size: 15px;
  padding: 5px 0 3px 0;
  border-bottom: solid 2px rgb(191, 221, 255);
}
.request-detail{
  font-size: 15px;
  padding: 0 10px 3px;
  margin-top: 5px;
}
.request-detail-text a{
  text-decoration: none;
  font-size: 13px;
  overflow: scroll;
}
.index_fix_genre {
  font-weight: bold;
  margin: 0 10px;
  color: rgb(57, 12, 116);
}
.index_fix_comment {
  color: rgb(128, 128, 128);
  height: 14vh;
  white-space: normal;
  overflow: scroll;
} 
.p-top__paginate {
  text-align: center;
  font-size: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
.p-top__paginate .current {
  color: white;
  background-color: rgb(108, 189, 255);
  padding: 5px 15px 5px 20px;
  margin: auto 10px;
  border-radius: 20px;
}

.p-top__paginate a{
  text-decoration: none;
  color: rgb(201, 201, 201);
  margin: auto 5px;
}
.p-top__paginate a:hover{
  color: black;
}