.top-background{
  background-color: rgb(238, 238, 238);
}
.request-title-block{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.request-title{
  text-align: center;
  font-size: 20px;
  width: 250px;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 10px 0;
  background-color: rgb(37, 37, 37);
  color: #dadada;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.retouch-contents{
  background-color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 30px;
}
.request-new{
  width: 80%;
  padding-left: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #444444;
  border-bottom: #a7a7a7 solid 2px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.request-subtitle {
  text-decoration: none;
  color: #bbbbbb;
}


/* リスト部分 */
.retouch-lists{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.list {
  margin-left: auto;
  margin-right: auto;
}
.list a {
  text-decoration: none;
}
.sid{
  background-color: rgb(255, 255, 255);
  height: 310px;
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.request_img {
  object-fit: cover;
  width: 220px;
  height: 220px;
  box-shadow: 0px 10px 10px -5px rgba(110, 110, 110, 0.5);
}
.request_img:hover{
  opacity: 0.9;
}

.request-info{
  /* background-color: rgb(241, 241, 241); */
  width: 210px;
  padding: 0 0 0 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.request-name-date{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.index-user-name a{
 color: rgb(180, 180, 180);
 font-size: 18px;
 padding: 0 0 3px 3px;
}

.request-date{
  font-size: 10px;
  color: #a7a7a7;
}
.index_fix_title{
  white-space: normal;
  overflow: scroll;
  font-size: 16px;
}
.index_fix_title a {
  text-decoration: none;
  color: black;
}
/* .index_fix_title_name{
  font-size: 18px;
  font-weight: bold;
  color: black;
} */


/* ここからページネイション */
.p-top__paginate {
  text-align: center;
  font-size: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
}
.p-top__paginate .current {
  color: white;
  background-color: rgb(108, 189, 255);
  padding: 5px 15px 5px 20px;
  margin: auto 10px;
  border-radius: 20px;
}

.p-top__paginate a{
  text-decoration: none;
  color: rgb(201, 201, 201);
  margin: auto 5px;
}
.p-top__paginate a:hover{
  color: black;
}

@media (max-width: 599px){
  .request-info{
    width: 150px;
    padding: 0 0 0 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  }
  .request_img {
  width: 150px;
  height: 150px;
  }
  .retouch-lists{
    width: 100%;
  }
  .request-title-block{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .request-title{
    font-size: 14px;
    width: 150px;
    margin-top: 80px;
    margin-bottom: 20px;
  }
}