/* * {
  border: 1px solid darkred;
} */

.title-contents {
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}



.service {
  padding-bottom: 5px;
  background: url("top1.jpg") center center no-repeat;
  background-size: 100%, 80%;
  padding: 3vh ;

  margin: 0 100px;
}
.service {
  text-align: center;
}

.service-title {
  font-size: 8vh;
  
}
.service-explain {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 15px;
}

@media (max-width: 599px){
  .service{
    background-size: 100%, 100%;
    padding: 0;
    margin: 0;
  }
  .service-title {
    font-size: 5vh;
  }
  .service-explain {
    font-size: 12px;
  }
}