.reqest-title-all{
  text-align: center;
  margin: 20px 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.request-title{
  font-size: 30px;
  color: #444444;
 
}
.request-subtitle {
  text-decoration: none;
  color: #bbbbbb;
}

.request-img {
  width: 33vh;
  height: 33vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 10px -5px rgba(110, 110, 110, 0.5);
}
.request-img:hover{
  opacity: 0.9;
}
.retouch-lists{
  display: flex;
  justify-content: space-around;

}
.list{
  display: flex;
  justify-content: space-around;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.request-info{
  /* background-color: rgb(241, 241, 241); */
  width: 250px;
  padding: 0 0 0 10px;

}
.request-name{
  font-size: 18px;
  padding: 10px 10px 3px;
  border-bottom: solid 2px rgb(191, 221, 255);
}
.request-junre{
  font-size: 15px;
  padding: 10px 10px 3px;
}
.request-detail{
  font-size: 15px;
  padding: 0 10px 3px;
}
.request-detail-text{
  font-size: 13px
}