.reqest-title-all{
  text-align: center;
  margin: 70px 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.request-title{
  font-size: 30px;
  color: #444444;
 
}
.request-subtitle {
  text-decoration: none;
  color: #bbbbbb;
}


/* リスト部分 */
.retouch-lists{
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.list {
  margin-left: auto;
  margin-right: auto;
}
.list a {
  text-decoration: none;
}
.sid{

}
.request_img {
  object-fit: cover;
  width: 30vh;
  height: 30vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 10px -5px rgba(110, 110, 110, 0.5);
}
.request_img:hover{
  opacity: 0.9;
}

.request-info{
  /* background-color: rgb(241, 241, 241); */
  width: 210px;
  padding: 0 0 0 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.request-name-date{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.index-user-name {
 color: rgb(180, 180, 180);
 font-size: 18px;
 padding: 0 0 3px 3px;
}

.request-date{
  font-size: 10px;
  color: #a7a7a7;
}
.index_fix_title{
  white-space: normal;
  overflow: scroll;
  font-size: 16px;
}
.index_fix_title a {
  text-decoration: none;
  color: black;
}
/* .index_fix_title_name{
  font-size: 18px;
  font-weight: bold;
  color: black;
} */


/* ここからページネイション */
.p-top__paginate {
  text-align: center;
  font-size: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
.p-top__paginate .current {
  color: white;
  background-color: rgb(108, 189, 255);
  padding: 5px 15px 5px 20px;
  margin: auto 10px;
  border-radius: 20px;
}

.p-top__paginate a{
  text-decoration: none;
  color: rgb(201, 201, 201);
  margin: auto 5px;
}
.p-top__paginate a:hover{
  color: black;
}

@media (max-width: 599px){
  .request_img {

  }
  .retouch-lists{
    width: 100%;
  }
}